
@font-face {
    font-family: 'HarmoniaSans';
    src: url('./fonts/HarmoniaSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SpectralRegular';
    src: url('./fonts/SpectralRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    margin: 0px;
  }
  h2 {
    padding: 0px;
    margin: 5px;
  }
  a:link {
    text-decoration: none;
    color:  #ff8d6a;
  }
  .Signup {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'HarmoniaSans', Arial, Helvetica, sans-serif;
      font-size:  24px;
      background-color:white;
      opacity: .90;
    }
    ul {
      padding-inline-start: 0px;
      list-style-type: none;
      margin: 0px;
      text-align: center;
    }
    li {
      padding: 5px;
      font-size:16px;
    }
      .exerpt {
        font-family: 'SpectralRegular','Times New Roman', Times, serif; 
        font-size: 12px;
        padding: 10px
      }
      .exerpt2 {
        font-family: 'SpectralRegular';
        color: #ff8d6a;
        font-size:12px;
        padding: 10px
      }
      .formInputB {
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        margin: 0;
        padding: 8px 8px;
        padding-bottom: 0;
        text-align: center;
        letter-spacing: 1px;
        color: #ff8d6a;
        border: 0;
        border-bottom: 2px dotted #b5b3b3;
        outline: none;
        background-color: transparent;
        font-size: 1em;
        font-weight: 500;
        width: 75px;
    }
    .formInputC {
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        margin: 0;
        padding: 8px 8px;
        padding-bottom: 0;
        text-align: center;
        letter-spacing: 1px;
        color: #ff8d6a;
        border: 0;
        border-bottom: 2px dotted #b5b3b3;
        outline: none;
        background-color: transparent;
        font-size: 1em;
        font-weight: 500;
        width: 125px;
    }
    .formInputD {
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      margin: 0;
      padding: 8px 8px;
      padding-bottom: 0;
      text-align: center;
      letter-spacing: 1px;
      color: #ff8d6a;
      border: 0;
      border-bottom: 2px dotted #b5b3b3;
      outline: none;
      background-color: transparent;
      font-size: 1em;
      font-weight: 500;
      width: 100px;
    }
    .formB {
      display: block
    }
    .formC {
      display: block
    }
    .formD {
      display: block
    }
    .formE {
      display: block
      }
    .formF {
      display: block
      }
    .formG {
      display: block
    }
    .signUpButton, .orderButton {
          background-color: #ff9e16;
          color:white;
          border-radius: 500px;
          padding: 8px 16px;
          font-weight: 300;
          font-size: 14px;
          border: 2px solid #ff9e16;
    }
    .signUpButton:hover, .orderButton:hover {
      border-color: #cff0e8;
      background-color: #cff0e8;
      color: White;
    } 
    .title {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      color:#4b4f54;
  }
    .formInput {
          -moz-appearance: none;
          appearance: none;
          display: inline-block;
          margin: 0;
          padding: 8px 8px;
          padding-bottom: 0;
          text-align: center;
          letter-spacing: 1px;
          color: #ff8d6a;
          border: 0;
          border-bottom: 2px dotted #b5b3b3;
          outline: none;
          background-color: transparent;
          font-size: .75em;
          font-weight: 500;
          width: 200px;
      }
      .Me {
          background-color:white;
          width: 80vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
  
  
      .Pref {
          width: 80vw;
          background-color:white;
          display:flex;
          align-items: center;
          display: none;
          justify-content: center;
          flex-direction: column;
        }
      .Plan {
          padding: 40px;
          width: 100vw;
          background-color: ghostwhite;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .Build {
          width: 80vw;
          background-color: ghostwhite;
      }
      .optionSelect {
        justify-content: center;
        flex-direction: column;
      }
      .optionSelect2 {
        justify-content: center;
        flex-direction: column;
        width: 75px;
      }
      .optionSelect3 {
        font-style: 16px;
        justify-content: center;
        flex-direction: column;
        width: 350px;
      }
      .formB, .formC ,.formD ,.formE ,.formF {
          padding: 25px;
      }
      .optionContain {
        width: 150px;
      }
      .optionAlign {
        display: flex;
        justify-content: center;
      }
      .Wave-crest {
        width: 100vw;
        fill: ghostwhite;
        padding: 0px;
        margin: 0px;
      }

    /* Build your own */
      .buildPlan {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'HarmoniaSans', Arial, Helvetica, sans-serif;
        font-size:  24px;
        background-color:white;
        opacity: .90;
      }
      .planCard {
        font-size: 16px;
        background: white;
        border-radius: 25px ;
        display: flex;
        flex-direction: column;
        padding: 15px;
      }
      .Container {
        padding: 20px;
      }
      .planTitle {
        padding: 10px;
      }
      .selectRow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      .buildCard, .buildCardMobile {
        display: flex;
        flex-direction: row;
        background-color: ghostwhite;
        padding : 25px;
        width: 100vw;
      }
      .buildCard {
        display: none;
      }
      .menuRow {
        display:flex;
        justify-content: center;
        padding: 10px;
        font-size: 16px;
      }
      .menuType  {
        padding: 15px;
        display:flex;
        justify-content: center;
        border: dotted .5px grey;
        border-radius: 15px;
      }
      .menuType:hover {
        border-color: #cff0e8;
        background-color: #cff0e8;
        color: White;
      } 
      .menuType:hover {
        background-color: #cff0e8;
        color: White;
      }
      .quantityRow {
        padding: 15px
      }
      .resetButton, .totalButton, .checkoutButton {
        background-color: #ff9e16;
        color:white;
        border-radius: 500px;
        padding: 8px 16px;
        font-weight: 300;
        font-size: 14px;
        border: 2px solid #ff9e16;
        width: 175px;
        margin: 10px;
      }
      .resetButton:hover, .totalButton:hover, .checkoutButton:hover {
        border-color: #cff0e8;
        background-color: #cff0e8;
        color: White;
      } 
      @media only screen and (min-width: 768px) {
        .buildCardMobile {
          display: none;  
        }
        .buildCard {
          display: inherit;
        }
    }